$bg-color: #313942;
$white: #FFF;
$klink-paragraph-color: #2a333c;
$klink-header: #2a333c;
$klink-green: #84ab48;
$siderbar-color: #191e23;
$klink-secondary: #2d92ce;
$dark-grey: #333;
$light-grey: #CCC;
$transparent-white: rgba(255, 255, 255, 0.5);
$shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
$klink-orange: #FF9600;
$dark-orange: #f47c20;
$green-btn-hover: #84ab48;
$bg-color-light: #F1F2F7;
