registry=https://infotileslab.pkgs.visualstudio.com/_packaging/TileFeed/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/15/2018.
; begin auth token
//infotileslab.pkgs.visualstudio.com/_packaging/TileFeed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzYzY5ZTkwNy1mNDY1LTRlNzAtOGZmMi1iNzE1ZmUzZjFiMWEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYmQ2YTEyMzUtOTA5NS00MjI5LWI3ZDItMTA2OTE2MDU1MDM2Iiwic2lkIjoiYTE2OTM0NjItZjMxYy00NjYzLTkwZjktYWVlNjdjZDNkMDFmIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZWFkZmQ3ZGMtN2Q3OS00NDNjLWIzZDktNTVlNWVjYzA0NzgzIiwibmJmIjoxNTMxODUyNzI3LCJleHAiOjE1Mzk2Mjg3Mjd9.u8mggqfr240EK_tLXAnBUGBXzT7X34OqQOag-PCeTA-rJPaclVIytLCtUqjJP4Zj_B3z567hGQmipE9yKliUqigSiEXzv8jZk1wgsmyNhEIGL3mJfmKgZRVr9laeufxL1iUWMIAWrV4F8WUjYdilkaXOIMaCkqntNwTx9VOZ2U03GNZuXCMNWRVcUCjvY5IIv7W3k6VpYmKGJSz8Bx_8_zooUZx2KurKZ-XmDXyx_KUcs8noUKx91QI45UnNLsQecEa84mCLdkspBymy38RtuIjHFJ1ua7ktEh-CeAqQKKtV8bjZOOff_gfThadnT5Oe3zCHE5GPAyA9n0lM-759oQ
//infotileslab.pkgs.visualstudio.com/_packaging/TileFeed/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzYzY5ZTkwNy1mNDY1LTRlNzAtOGZmMi1iNzE1ZmUzZjFiMWEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYmQ2YTEyMzUtOTA5NS00MjI5LWI3ZDItMTA2OTE2MDU1MDM2Iiwic2lkIjoiYTE2OTM0NjItZjMxYy00NjYzLTkwZjktYWVlNjdjZDNkMDFmIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZWFkZmQ3ZGMtN2Q3OS00NDNjLWIzZDktNTVlNWVjYzA0NzgzIiwibmJmIjoxNTMxODUyNzI3LCJleHAiOjE1Mzk2Mjg3Mjd9.u8mggqfr240EK_tLXAnBUGBXzT7X34OqQOag-PCeTA-rJPaclVIytLCtUqjJP4Zj_B3z567hGQmipE9yKliUqigSiEXzv8jZk1wgsmyNhEIGL3mJfmKgZRVr9laeufxL1iUWMIAWrV4F8WUjYdilkaXOIMaCkqntNwTx9VOZ2U03GNZuXCMNWRVcUCjvY5IIv7W3k6VpYmKGJSz8Bx_8_zooUZx2KurKZ-XmDXyx_KUcs8noUKx91QI45UnNLsQecEa84mCLdkspBymy38RtuIjHFJ1ua7ktEh-CeAqQKKtV8bjZOOff_gfThadnT5Oe3zCHE5GPAyA9n0lM-759oQ
; end auth token

