registry=https://infotileslab.pkgs.visualstudio.com/_packaging/TileFeed/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/16/2019.
; begin auth token
//infotileslab.pkgs.visualstudio.com/_packaging/TileFeed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyZGE0NWUwMC1lZTQ4LTQwY2ItYTRhNC0xZjc4ZDg2M2Q1YjkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjhmNTEwYWItNGZmNi00YjhlLThjMWItYzRjMWRlY2FjZjhiIiwic2lkIjoiMzQ3ODlkMjQtNWUyNS00MjdmLTg0MWUtMjg5YzZhYmFkMDE4IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZWFkZmQ3ZGMtN2Q3OS00NDNjLWIzZDktNTVlNWVjYzA0NzgzIiwibmJmIjoxNTM5ODY4MjU5LCJleHAiOjE1NDc2NDQ4NTl9.xzOAOK7Cr6rnVYLmadwhbMSCPWb221QSMLZFgF1OKcsGrJMzHAzCIYvs12Fd8-L8c9R_JdvRFkf2p0nHUZtFhDzsYUmXebqF_MH8Mp7YR90S5nVNrm9QyBS_Cc6aGqBi1axCO2A0Qz5wZjt0Ry9ajlXLOHTRwBfkEn5ndVzYvjVJU_MjDtL1hjYBzNQuGBcpAjAu10ANxvt_RVs2QOAZKZDWlD6rWlglZR1_cQGZDLxZXPb6dhsufDUPhNJ95ppKyzJd-rTAIj-7MqxFXuhRw0Ixr-l8GlrSqyfDIoRR5mZ6mTWzggBEgSZJDOlIlLqV11gbQ59NUYQd_ef-v3z7LA
//infotileslab.pkgs.visualstudio.com/_packaging/TileFeed/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyZGE0NWUwMC1lZTQ4LTQwY2ItYTRhNC0xZjc4ZDg2M2Q1YjkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjhmNTEwYWItNGZmNi00YjhlLThjMWItYzRjMWRlY2FjZjhiIiwic2lkIjoiMzQ3ODlkMjQtNWUyNS00MjdmLTg0MWUtMjg5YzZhYmFkMDE4IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZWFkZmQ3ZGMtN2Q3OS00NDNjLWIzZDktNTVlNWVjYzA0NzgzIiwibmJmIjoxNTM5ODY4MjU5LCJleHAiOjE1NDc2NDQ4NTl9.xzOAOK7Cr6rnVYLmadwhbMSCPWb221QSMLZFgF1OKcsGrJMzHAzCIYvs12Fd8-L8c9R_JdvRFkf2p0nHUZtFhDzsYUmXebqF_MH8Mp7YR90S5nVNrm9QyBS_Cc6aGqBi1axCO2A0Qz5wZjt0Ry9ajlXLOHTRwBfkEn5ndVzYvjVJU_MjDtL1hjYBzNQuGBcpAjAu10ANxvt_RVs2QOAZKZDWlD6rWlglZR1_cQGZDLxZXPb6dhsufDUPhNJ95ppKyzJd-rTAIj-7MqxFXuhRw0Ixr-l8GlrSqyfDIoRR5mZ6mTWzggBEgSZJDOlIlLqV11gbQ59NUYQd_ef-v3z7LA
; end auth token
